---
import "@awesome.me/webawesome/dist/styles/webawesome.css";

/* tailwind */
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

import GithubIcon from "~icons/mdi/github";
import LinkedinIcon from "~icons/mdi/linkedin";
---

<!-- Web Awesome autoloader -->
<script
        type="module"
        src="https://ka-f.webawesome.com/webawesome@3.9.0/webawesome.loader.js"
></script>

<Layout>

    <h1>Hi, I'm Danny Landeros</h1>
    <p>I'm a software engineer</p>
    <GithubIcon/>
    <LinkedinIcon/>


</Layout>
