---
import "@awesome.me/webawesome/dist/styles/webawesome.css"

/* tailwind */
import "../styles/global.css"

import Base from "../layouts/Base.astro"
---

<!-- Web Awesome autoloader -->
<script
  type="module"
  src="https://ka-f.webawesome.com/webawesome@3.9.0/webawesome.loader.js"
></script>

<Base>
  <h1>Work</h1>
</Base>
